.country{
    color: var(--brandColor);
    background-color: var(--navbarColor);
    border: solid  1px var(--navbarColor);
    padding-bottom: 10px !important;

}
.Main-Mobile{
    visibility: hidden;
}
.Main-Pc {
    display: flex;
    flex-wrap: wrap;
}
.cc{
    flex: 1 0 25%; /* Each item occupies 25% width */
    padding: 25px;
    box-sizing: border-box;
    }
input{
    background-color: var(--navbarColor) !important;
    border-color:var(--navbarColor) !important ;
    color: var(--brandColor) !important;
}
.Main-Pc .country{
    color: var(--brandColor);
    width: 200px !important;
    height: 150px;
    background-color: var(--navbarColor);
    border: solid  1px var(--navbarColor);
    width: 100%;
    cursor:pointer;
}
.Main-Pc .img{
    width: 200px;
    height: 150px;
    cursor:pointer;
}
h2{
    font-family: "Nunito Sans", sans-serif!important;
      padding: 10px;
      font-size: 20px !important;
      font-weight: 900 !important;
  }
  
  h5{     
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: 500 !important;
  font-optical-sizing: auto;
  padding-left: 10px;
  font-size: 12px !important;}
@media (max-width:550px){
    .Main-Pc{
        visibility: hidden !important;
    }

    .Main-Mobile{ 
        
        position: absolute !important;
        visibility: visible !important;
        display: flex;
        flex-wrap: wrap ;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        top:33dvb;
    }
   .Main-Mobile .img{
    width:80cqi !important;

    }
    .Main-Mobile .country{
        padding: 10px!important;
    }


   
}